<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- DataSource Property 
	<bean id="rdbmsDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/jumbalakka" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>
	-->
	
	<bean id="rdbmsDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName" value="java:comp/env/jdbc/jumbalakka"/>
 	</bean>
	
	<!-- Database Property -->
	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.query.substitutions">true 'T', false 'F'</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.c3p0.minPoolSize">5</prop>
				<prop key="hibernate.c3p0.maxPoolSize">20</prop>
				<prop key="hibernate.c3p0.timeout">600</prop>
				<prop key="hibernate.c3p0.max_statement">50</prop>
				<prop key="hibernate.c3p0.testConnectionOnCheckout">false</prop>
			</props>
		</property>
	</bean>

	<!-- Hibernate SessionFactory -->
	<bean id="hibSessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="rdbmsDataSource" />
		<property name="hibernateProperties" ref="hibernateProperties" />
		<!-- OR mapping files. -->
		<property name="mappingResources">
			<list>
				<value>hibernate/Tuple.hbm.xml</value>
				<value>hibernate/NobsBill.hbm.xml</value>
				<value>hibernate/NobsAuditLog.hbm.xml</value>
				<value>hibernate/NobsUser.hbm.xml</value>
			</list>
		</property>
	</bean>
</beans>